@font-face {
	font-family: "Roboto Bold";
	src: url("../../fonts/roboto-bold.woff2") format("woff2"),
         url("../../fonts/roboto-bold.woff") format("woff");
    font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto Regular";
	src: url("../../fonts/roboto-regular.woff") format("woff"), /* Modern Browsers */
		 url("../../fonts/roboto-regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto Light";
	src: url("../../fonts/roboto-light.woff") format("woff"), /* Modern Browsers */
		 url("../../fonts/roboto-light.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}