@import 'base/variables';
@import 'base/fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Regular', sans-serif;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

hr, p {
    margin: 0;
}

.container {
    max-width: 990px;
    margin: 0 auto;
}

.section__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 39px;
    color: #2D2D2D;
    margin-bottom: 25px;
}


@import 'blocks/banner';
@import 'blocks/promo';
@import 'blocks/menu';
@import 'blocks/avto';
@import 'blocks/discount';
@import 'blocks/title';
@import 'blocks/driving';
@import 'blocks/description';
@import 'blocks/stages';
@import 'blocks/price';
@import 'blocks/forms';
@import 'blocks/faqs';
@import 'blocks/map';
@import 'blocks/footer';
@import 'blocks/pageup';
@import 'blocks/content';
@import 'blocks/media';
@import 'blocks/btn';