@import 'base/variables';
@import 'base/fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Regular', sans-serif;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.container {
    max-width: 990px;
    margin: 0 auto;
}

@import 'blocks/banner';
@import 'blocks/header';
@import 'blocks/avto';
@import 'blocks/discount';
@import 'blocks/title';;
@import 'blocks/conditions';
@import 'blocks/stages';
@import 'blocks/price';
@import 'blocks/forms';
@import 'blocks/faqs';
@import 'blocks/map';
@import 'blocks/footer';
@import 'blocks/pageup';
@import 'blocks/media';
@import 'blocks/btn';
@import 'blocks/tickets';
