.discount {
    padding: 30px 5px;
    &__bg {
        background: #FFFFFF;
        border-radius: 30px;
        padding: 60px 65px 62px 65px;
        box-shadow: 0 14px 28px rgba(212, 211, 211, 0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    &__descr {
        display: inline-block;
        padding: 2px 8px;
        margin-bottom: 14px;
        background: $style-color;
        border-radius: 7px;
        font-weight: 700;
        font-size: 16px;
        color: #FFFFFF;
    }
    &__title {
        font-weight: 700;
        font-size: 35px;
        line-height: 39px;
        color: #2D2D2D;
        margin-bottom: 57px;
    }
    &__form {
        display: flex;
        justify-content: space-between;
        input {
            outline: none;
            padding: 0 5px;
            font-weight: 400;
            font-size: 17px;
            color: #181818;
            width: 250px;
            border: none;
            border-bottom: 2px solid $main-color;
            &:active :focus {
                outline: none;
                overflow: hidden;
                border: none;
            }
        }
    }
}