.faq {
    padding: 25px 0;
    &__list {
        margin: 10px 0;
    }
    .fas {
        color: $style-color;
        font-size: 21px;
    }
    &__item {
        cursor: pointer;
        margin: 12px 0;
        padding: 20px;
        list-style-type: none;
        background-color: rgb(249, 245, 245);
        height: 100%;
        width: 100%;
        &:hover {
            color: $style-color;
        }
    }
    &__link {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: $text-color;
    }
    &__descr {
        display: none;
        padding-top: 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $text-color;
    }
    .far {
        float: right;
        font-size: 20px;
    }
}