.footer {
    padding: 50px 0 0 0;
    background-color: #fff;
    &__title {
        font-size: 40px;
        font-weight: 500;
        text-shadow: 1px 1px 0 $main-color,
                    1px -1px 0 $main-color,
                    -1px 1px 0 $main-color,
                    -1px -1px 0 $main-color;
        color: white;
    }
    &__link {
        display: inline-block;
        margin: 15px 0;
        i { 
            margin: 0 15px 0 0;
            width: 48px;
            height: 48px;
            background-color: $style-color;
            font-size: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            transition: all 980ms ease;
            &:hover {
                background-color: $main-color;
                color: #fff;
            }
        }
    }
    &__contact {
        font-size: 23px;
        font-weight: 500;
        color: #2D2D2D;
        margin: 15px 0 20px 0;
    }
    &__descr {
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
        color: $text-color;
    }
    &__phone {
        display: block;
        font-weight: 600;
        font-size: 18px;
        color: $style-color;
        transition: all .1 ease-in-out;
        &:hover {
            color: $main-color;
        }
    }
    &__mb {
        margin-bottom: 10px;
    }
    &__proverbs {
        background-color: $main-color;
        padding: 10px 0;
        margin-bottom: 0;
        text-align: center;
        font-weight: 400;
        font-size: 17px;
        color: #fff;
    }
}