.menu {
    padding: 20px 0;
    &__nav {
        display: flex;
        padding: 8px 0;
        margin-bottom: 0;
    }
    &__item {
        list-style-type: none;
        margin-right: 70px;
        position: relative;
    }
    &__link {
        font-weight: 500;
        font-size: 17px;
        color: #222222;
        &::after {
            content: '';
            position: absolute;
            background-color: $style-color;
            color: $main-color;
            height: 3px;
            width: 0;
            left: 0;
            bottom: -10px;
            transition: 0.3s;
        }
        &:hover::after {
            width: 100%;
        }
    }
}
.burger {
    display: none;
}