.promo {
    padding-top: 30px;
    &__border-bottom {
        border-bottom: 1px solid #EFEFEF;
        padding-bottom: 30px;
    }
    &__phone {
        display: inline-block;
        margin-top: 17px;
        font-size: 18px;
        font-weight: 700;
        color: $style-color;
        transition: all 500ms ease;
        &:hover {
            color: $main-color;
        }
    }
    &__street {
        display: flex;
        justify-content: flex-end;
        font-weight: 600;
        font-size: 17px;
        color: $main-color;
        margin-top: 14px;
        i {
            margin: 0 10px 0 0;
            font-size: 20px;
        }
    }
}