.stages {
    padding: 30px 0;
    &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background: $style-color;
        border-radius: 50%;
        font-weight: 400;
        font-size: 15px;
        color: #FFFF;
        margin-bottom: 20px;
        margin-top: 20px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 45px;
            height: 45px;
            border: 2px dashed #D8D8D8;
            border-radius: 50%;
        }
    }
    &__descr {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $text-color;
    }
}